Assets/Unity_StarRail_CRP_Sample/Characters/Asta/Models/Player_Maid_Asta_00.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Unity_StarRail_CRP_Sample/Characters/Herta/Models/Player_Girl_Herta_00.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Unity_StarRail_CRP_Sample/Characters/Mar_7th/Models/Avatar_Mar_7th_00.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Unity_StarRail_CRP_Sample/Characters/Mar_7th/Models/Player_Maid_Mar_7th_00.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Unity_StarRail_CRP_Sample/Characters/PlayerGirl/Player_Miss_PlayerGirl_00/Player_Miss_PlayerGirl_00.fbx filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/42/42fe3aaa07094fe13a0eae5271a49408 filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/79/792d2ec107b4201e712a406e3dea9cab filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/burst-llvm-15.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.so filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/sharedassets3.assets.resS filter=lfs diff=lfs merge=lfs -text
